<select value="@ViewModel.SelectionValue" @onchange="args => OnFeatureSelectionChange(args)">
    <option value="">(None)</option>
    @foreach (var option in ViewModel.SelectionOptions.OrderBy(o => o.Value))
    {
        <option value="@option.Key">@option.Value</option>
    }
</select>

@if (SubViewModel != null)
{
    <FeatureSelection ViewModel="SubViewModel" />
}

@code {
    [Parameter]
    public ProgressionFeatureModel ViewModel { get; set; }

    private ProgressionFeatureModel SubViewModel;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        SubViewModel = await ViewModel.GetSubSelection();
    }

    private async Task OnFeatureSelectionChange(ChangeEventArgs args)
    {
        await ViewModel.ChangeSelectionValue(args?.Value as string);
        SubViewModel = await ViewModel.GetSubSelection();
    }
}
